* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: auto;
    text-decoration: none;
}

body{
    background-color: rgba(25, 113, 255, 0.423);
}

/******* Comunes *******/

h1{
    text-align: center;
}

h2{
    text-align: center;
    padding: 2rem 0;
}


/****** Fin de Comunes ******/

/******* Inicio Cabecera *******/

header {
    background: #9edbffe6;
    height: 70px;
    backdrop-filter: blur(5px);
    filter: drop-shadow(4px 4px 4px);
}


nav {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 1rem 0;
}

nav ul li a {
    color: black;
    font-size: 20px;
    font-weight: 500;
    margin: 1rem .5rem;
}

.menu ul li {
    margin-right: 10px;
}

.menu ul li a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.menu-hamburguesa {
    display: none;
}


/******* Main *******/

.contenedor-principal {
    width: 80%;
    margin: 0 auto;
}

  /***** Carrusel *****/
.carrusel{
    height: 100vh;
}
    .carrusel img {
        width: 100%;
        height: 99.5vh;
        object-fit: cover;
    }

  /***** Fin de Carrusel *****/

  /******** Buscador ********/
.buscador .form-buscador{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0;
    width: 80%;
    margin: auto;
}

    .buscador .form-select, .input-group, .btn{
        width: 18%;
        margin: 10px;
    }

/****** Propiedades *******/

.propiedades .ventas-prop, .alquileres-prop {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 0 4rem 0;
}

    .propiedades .card-prop{
        width: 225px;
        height: auto;
        margin: .8rem;
        border: 1px solid rgb(202, 202, 202);
        border-radius: 4px;
        text-align: center;
        background-color: #f7f5f5;
        filter: drop-shadow(8px 8px 8px black);
    }

        .propiedades figcaption{
            font-weight: 700;
            font-size: 20px;
        }

            .propiedades p{
                font-weight: 500;
                font-size: 16px;
            }

        .propiedades .card-prop img{
            width: 100%;
            height: 320px;
            object-fit: cover;
        }

            .propiedades .card-prop img:hover{
                cursor: pointer;
                filter: blur(1px);
                filter: grayscale(80%);
            }
/****** Fin de Propiedades *******/



/******* Footer *******/

.pie {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(252, 252, 252);}

    .copy{
        width: 40%;
        padding-left: 2rem;
    }

    .redes{
        width: 20%;
        display: flex;
        justify-content: space-around;
    }
    
        .redes img {
            width: 30px;
            height: 30px;
        }

    .btn-top{
        width: 40%;
        padding-right: 2rem;
        display: flex;
        justify-content: end;
    }

        .btn-top img{
            width: 35px;
            height: 35px;
        }




/******* Fin de Footer *******/

@media (max-width: 425px) {

nav {
        align-items: flex-start;
}

.menu {
    display: none;
}

    .menu.active {
        display: block;
        position: absolute;
        top: 10%;
        left: 0;
        width: 100%;
        height: auto;
        background: transparent;
        background-color: rgba(0, 0, 0, 0.566);
        backdrop-filter: blur(5px);
        z-index: 1000;
    }

        .menu ul {
            flex-direction: column;
            list-style: none;
            padding-left: 5%;
        }

            .menu ul li a{
                color: rgb(9, 9, 9);
                line-height: 30px;

            }

                .menu-hamburguesa {
                     display: block;
                }

                    .icono-hamburguesa {
                        display: block;
                        font-size: 24px;
                        cursor: pointer;
                        margin-right: 10px;
                    }

/******* Main *******/
.contenedor-principal {
        width: 100%;
}
/******* Fin de Main *******/

/******* Carrusel *******/
.carrusel{
    height: 50vh;
    
    }
        .carrusel img {
            height: 50vh;
        }

/******* Fin de Carrusel *******/

/******* Buscador *******/

.buscador .form-select, .input-group, .btn {
    width: 100%;
    margin: 10px 0;
}
/******* Fin de Buscador *******/

/****** Propiedades *******/

.propiedades .card-prop{
    margin: .5rem;
}

/****** Fin de Propiedades *******/


/****** Formulario de Contacto *******/
.contacto {
    width: 90%;
    padding: 20px 0;
}

    .contacto .btn{
        margin: 5px 0;
        padding: 5px 10px;
    }
/****** Fin de Contacto *******/

/******* Footer *******/

.pie {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: auto;

    .copy{
        display: none;
    }

    .redes{
        width: 80%;
        padding: 1rem 0;
    }

    .btn-top{
        padding-right: 0;
        justify-content: center;
    }
}}
